@import 'tailwindcss';

@import '@fontsource/ibm-plex-mono/400.css';
@import '@fontsource/ibm-plex-mono/500.css';
@import '@fontsource/ibm-plex-mono/700.css';
@import '@fontsource/ibm-plex-mono/400-italic.css';

@theme {
	--color-white: #e7e7e7;
}

:root {
    --toastContainerLeft: 2rem;
    --toastBorderRadius: 14px;
    --toastMsgPadding: 0px 14px;
    --toastBackground: var(--color-neutral-900);
}
