@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "tailwind-scrollbar";

html, body {
  font-family: 'IBM Plex Mono';
  background-color: black;
  color: white;
  overflow: hidden !important;
  position: fixed;
}
