name: Release

on: workflow_dispatch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions: 
      contents: write 
      issues: write 
      pull-requests: write 
      id-token: write 

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 
          persist-credentials: true 

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          npx \
          --package semantic-release \
          --package @semantic-release/changelog \
          --package @semantic-release/git \
          --package @semantic-release/exec \
          semantic-release
